!node_modules/d3/dist/d3.js
!node_modules/dagre-d3/dist/dagre-d3.js
!node_modules/vue/dist/vue.js
!node_modules/d3-svg-legend/d3-legend.js
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.eslintrc.json
.gitignore
.gitlab-ci.yml
.vscodeignore
model.json
tsconfig.json
webpack.config.js
